// 
// front form styles


	.front-form-wrapper {
		margin-top: 90px;
	}
	
	// form header
	.form-header-wrapper {
		text-align: center !important;
		margin-bottom: 40px;
	}

	.form-header__title {
		font-size: 32px;
		color: $blue;
		display: block;
	}

	.form-header__description {
		display: block;
		font-size: 19px;
		color: $text-color;
	}

	// form success header
	.form-success-header-wrapper {
		text-align: center !important;
		margin-bottom: 40px;
	}

	.form-success-header-wrapper .form-header__title {
		font-size: 32px;
		color: $green;
		display: block;
	}

	.form-success-header-wrapper .form-header__icon {
		font-size: 40px;
		color: $green;
	}

	.form-success-header-wrapper .form-header__description {
		display: block;
		font-size: 19px;
		color: $text-color;
	}
	
	.form-result-actions-wrapper {
	}

	.form-result-actions  {
		font-size: 40px;
		color: $blue;
		text-align: center !important;
		display: block;
		text-decoration: none;

		@include breakpoint(xs)  {
			margin-bottom: 40px;
		}

		@extend .transition--fast;

		span {
			color: $text-color;
			font-size: 15px !important;
			display: block;
			text-decoration: none;
		}

		&:hover {
			color: $green;
			span { color: $text-color; }
		}
	}

	.form-download-pdf {
		
	}

	.form-question-answered-wrapper {
		display: none;
		margin-bottom: 40px;
	}
	
	// questions
	.form-question-block {
		margin-top: 20px;
	}

	.form-question__title {
		font-size: 22px;
		font-weight: normal;
		color: $navy-blue;
	}
	
	.form-question__answer {
		font-size: 22px;
		font-weight: 500;
		color: $blue;
		display: block;
	}

	
	.form-question__description {
		font-size: 16px;
		font-weight: normal;
		color: $navy-blue;
	}


	.form-question-block .form-group {
		margin-bottom: 30px;
	}

	// 
	// input types

	// checkbox
	.form-question-block .checkbox {
		border: 1px solid #ddd;
		border-radius: 3px;
		width: 45%;
		font-size: 16px;
		color: $text-color;
		font-weight: 500 !important;
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 20px;

		@extend .transition--fast;

		label {
			display: block;
			padding: 10px 20px;
			margin-left: 20px;
			text-indent: 10px;
		}

		input {
			position: relative;
			left: -10px;
		}

		&:hover {
			border: 1px solid $blue !important;
			background: lighten($blue, 47%) !important;
		}
	}

	// upload
	.form-question-block .file-input {
		margin-top: 10px;
	}

	.form-question-block .file-caption {
		display: none;
		width: 90%;
		margin-top: 5px;
	}


	// 
	// form footer

	.form-footer-wrapper {
		margin: 50px 0 120px;
	}