<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Comece seus contratos com o pé direito</h1>
			  <p>Use formulários com processos e perguntas padrão para triagens de prestação de serviço para todos os tipos de serviços jurídicos.</p>
			  <p><a class="btn btn-primary btn-lg" href="#" role="button">Crie seus formulários gratuitamente</a></p>
			</div>
		</div>
	</div>
</div>

<div class="features-block-wrapper">
	<div class="container">
		<div class="row">
			
			<div class="col-sm-4">
				<h4>Se comunique de maneira <br>mais eficiente com seus clientes</h4>
				<p>A square-jawed cowboy stands outside a saloon. He adjusts his hat and squints across the dusty street.</p>
			</div>
			<div class="col-sm-4">
				<h4>Mais produtividade, <br>menos vai e vem.</h4>
				<p>A square-jawed cowboy stands outside a saloon. He adjusts his hat and squints across the dusty street.</p>
			</div>
			<div class="col-sm-4">
				<h4>Menos reuniões, <br>mais clientes em potêncial</h4>
				<p>A square-jawed cowboy stands outside a saloon. He adjusts his hat and squints across the dusty street.</p>
			</div>
			

		</div>
	</div>
</div>

<div class="screenshots-block-wrapper bg-info text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Utilize nossos questionários padrão</h2>
				<p>Você pode utilizar formulários padrão e adaptar a suas necessidades. Assim você começa um relacionamento mais eficiente com seus clientes e não perder tempo procurando documentos e informações descentralizadas em emails e outros meios de comunicação.</p>
				<a href="#" class="btn btn-primary">crie sua conta e teste gratuitamente</a>
				<p class="text-small text-muted">Não é necessário inserir cartão de crédito.</p>
			</div>
		</div>
	</div>
</div>
