<div class="hero-block-wrapper">
	<div class="container">

		<div class="row">
			<div class="col-sm-8 col-md-5 col-lg-5 hero__content">
				<a href="/" class="logotype">Nice Start</a>
				<h1 class="hero__title">Comece seus contratos com o pé direito</h1>
			  <p  class="hero__tagline">Use formulários com processos e perguntas padrão para triagens de prestação de serviço para todos os tipos de serviços jurídicos.</p>
			  <p><a class="btn btn-primary btn-lg hero__cta" href="/lawyers/sign_up" role="button">Crie seus formulários gratuitamente</a></p>
			</div>
			<div class="col-sm-4 col-md-7 col-lg-7 text-right hidden-xs">
				<ul class="main-nav nav nav-pills pull-right">
				  <li role="presentation"><a href="#">como funciona</a></li>
				  <li role="presentation"><a href="#">preço</a></li>
				  <li role="presentation"><a href="/lawyers/sign_in">acessar painel</a></li>
				  <li role="presentation"><a href="/lawyers/sign_up" class="btn btn-primary">crie sua conta</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="hero__image">
		<img src="/assets/hero-bg.jpg">
	</div>
</div>

<div class="features-block-wrapper">
	<div class="container">
		<div class="row">
			
			<div class="col-sm-4 feature__block">
				<h4>Se comunique de maneira <br>mais eficiente com seus clientes</h4>
				<p>A square-jawed cowboy stands outside a saloon. He adjusts his hat and squints across the dusty street.</p>
			</div>
			<div class="col-sm-4 feature__block">
				<h4>Mais produtividade, <br>menos vai e vem.</h4>
				<p>A square-jawed cowboy stands outside a saloon. He adjusts his hat and squints across the dusty street.</p>
			</div>
			<div class="col-sm-4 feature__block">
				<h4>Menos reuniões, <br>mais clientes em potêncial</h4>
				<p>A square-jawed cowboy stands outside a saloon. He adjusts his hat and squints across the dusty street.</p>
			</div>
			

		</div>
	</div>
</div>

<div class="screenshots-block-wrapper text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-8 col-lg-offset-2">
				<h2 class="screenshot-block__title">Utilize nossos formuários padrão</h2>
				<p class="screenshot-block__text">Você pode utilizar formulários padrão e adaptar a suas necessidades. Assim você começa um relacionamento mais eficiente com seus clientes e não perder tempo procurando documentos e informações descentralizadas em emails e outros meios de comunicação.</p>
				<a href="#" class="btn  btn-lg btn-primary screenshot-block__cta">crie sua conta e teste gratuitamente</a>
				<p class="text-small text-muted screenshot-block__note">Não é necessário inserir cartão de crédito.</p>
			</div>
		</div>
	</div>
</div>
