<div class="hero-block-wrapper">
	<div class="container">

		<div class="row">
			<div class="col-sm-8 col-md-5 col-lg-5 hero__content">
				<a href="/" class="logotype">Nice Start</a>
				<h1 class="hero__title">Inicie a relação com seu cliente de maneira clara e eficiente </h1>
			  <p  class="hero__tagline">Comunique-se de maneira eficaz com seus clientes - Entenda o que o seu cliente quer te dizer através da maneira de ele se expressar.</p>
			  <p><a class="btn btn-primary btn-lg hero__cta" href="/lawyers/sign_up" role="button">Crie seus formulários gratuitamente</a></p>
			</div>
			<div class="col-sm-4 col-md-7 col-lg-7 text-right hidden-xs">
				<ul class="main-nav nav nav-pills pull-right">
				  <!-- <li role="presentation"><a href="#">como funciona</a></li> -->
				  <!-- <li role="presentation"><a href="#">preço</a></li> -->
				  <li role="presentation"><a href="/lawyers/sign_in">acessar painel</a></li>
				  <li role="presentation"><a href="/lawyers/sign_up" class="btn btn-primary">crie sua conta</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="hero__image">
		<%= image_tag('hero-bg.jpg') %>
	</div>
</div>

<div class="features-block-wrapper">
	<div class="container">
		<div class="row">
			
			<div class="col-sm-4 feature__block">
				<h4>Se comunique de maneira <br>mais eficiente com seus clientes</h4>
				<p>Comunique-se de maneira eficaz com seus clientes - Entenda o que o seu cliente quer te dizer através da maneira de ele se expressar.</p>
			</div>
			<div class="col-sm-4 feature__block">
				<h4>Mais produtividade, <br>menos vai e vem.</h4>
				<p>Mais produtividade menos tratativas - Clientes mais preparados direcionados de maneira mais inteligente.</p>
			</div>
			<div class="col-sm-4 feature__block">
				<h4>Menos reuniões, <br>mais clientes em potêncial</h4>
				<p>Vá direto ao ponto, sabendo qual a necessidade de seu cliente.</p>
				<!-- <p>Você pode utilizar formulários padrão e adapta-lo a suas necessidades e ao seu problema. Através do Nice Start você começa um relacionamento mais eficiente com seus clientes e não perde tempo buscando documentos e informações descentralizadas em emails e outros meios de comunicação.</p> -->
			</div>
			

		</div>
	</div>
</div>

<div class="screenshots-block-wrapper text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-8 col-lg-offset-2">
				<h2 class="screenshot-block__title">Utilize formuários de atendimento padrão <br> e adapte para suas necessidades</h2>
				<p class="screenshot-block__text">Você pode utilizar formulários padrão e adapta-lo a suas necessidades e ao seu problema. Com o <strong>nice start</strong> você começa um relacionamento mais eficiente com seus clientes e não perde tempo buscando documentos e informações descentralizadas em emails e outros meios de comunicação.</p>
				<a href="#" class="btn  btn-lg btn-primary screenshot-block__cta">crie sua conta e teste gratuitamente</a>
				<p class="text-small text-muted screenshot-block__note">Não é necessário inserir cartão de crédito.</p>
			</div>
		</div>
	</div>
</div>
