<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Prezado, <%= @user.name %>!</h1>
    <p>Segue o link para seu formulário de triagem: <%= form_url(@form) %></p>
  </body>
</html>