// 
// buttons

	.btn {
		border-radius: 50px !important;
		border: none !important;
		color: #fff !important;
		padding: 13px 30px !important;

		@extend .transition--fast;
	}

	.btn.btn-primary {
		background: $blue !important;

		&:hover {
			background: $green !important;
		}
	}

	.btn.btn-default {
		background: #fff !important;
		border: 1px solid #E0E0E0 !important;
		color: $blue !important;
		font-weight: 500;

		&:hover {
			border: 1px solid $blue !important;
			background: lighten($blue, 47%) !important;
		}
	}
