// 
// project colors

$purple:		#674D9B;
$yellow:		#EFAF56;
$blue:			#1E7BE2;
$navy-blue:	#44678C;
// $green:			#57BE96;
$green:			#38BA72;
$orange:		#F05A29;
$red:				#EC185B;
$light-bg:	#F3F9FF;
$dark-bg:		#33455A;

$text-color:#617283;


$primary-color:			$purple !default;
$secondary-color:		$yellow !default;

$brand-primary: 		$blue !important;
$brand-secondary: 	$green !important;

$brand-success: 		$green !important;
$brand-warning: 		$orange !important;
$brand-error: 			$red !important;
