// 
// type settings

$type: $roboto;
$title: $roboto;
$text: $roboto;

// 
// general type styles

	* {
		font-family: $text;
		@include font-smoothing();
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $text;
		color: $navy-blue;
	}

	p {
		font-size: 16px;
		color: $text-color;
		line-height: 150%;
	}

	a {
		color: $blue;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			color: $navy-blue;
			text-decoration: none;
		}
	}


