<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @field_of_work.title %>
</p>

<%= link_to 'Edit', edit_field_of_work_path(@field_of_work) %> |
<%= link_to 'Back', field_of_works_path %>
