
<div class="col-xs-12 form-header-wrapper">
	<h1 class="form-header__title">Formulário de Direito Trabalhista</h1>
	<p class="form-header__description">Este formulário projetado para agilizar seu atendimento e melhorar a comunicação das suas necessidades jurídicas.</p>
</div>

<div class="col-xs-12">
	<hr>
</div>

<% @form.questions.each do |question| %>
	<div class="col-xs-12 form-question-block">
		<div class="form-group">
			<label class="form-question__title" for="questionOne"><%= question.title %></label>
			<% if question.field_type.is_text? %>
		    	<input type="text" class="form-control" id="question-<%= question.id %>">
		    <% elsif question.field_type.is_select? %>
		    	<p class="form-question__description">(Pode selecionar mais de uma opção)</p>
    
    			<% question.question_options.each do |question_option| %>
				    <div class="checkbox">
					    <label>
					      <input type="checkbox"> <%= question_option.title %>
					    </label>
					</div>
				<% end %>
				  
		    <% end %>
		</div>   
	</div>
<% end %>

<!-- <div class="col-xs-12 form-question-block">	
	<div class="form-group">
		<label class="form-question__title" for="questionOne">Qual é seu nome completo?</label>
    <input type="text" class="form-control" id="questionOne" placeholder="Digite seu nome completo">
	</div>
</div>

<div class="col-xs-12 form-question-block">	
	<div class="form-group">
		<label class="form-question__title" for="questionOne">Qual é o seu RG?</label>
    <input type="text" class="form-control" id="questionOne" placeholder="Digite seu RG">
	</div>
</div>

<div class="col-xs-12 form-question-block">	
	<div class="form-group">
		<label class="form-question__title" for="questionOne">Qual é seu CPF?</label>
    <input type="text" class="form-control" id="questionOne" placeholder="Digite seu CPF">
	</div>
</div>

<div class="col-xs-12 form-question-block">	
	<div class="form-group">
		<label class="form-question__title" for="questionOne">Qual é seu endereço completo?</label>
		<p class="form-question__description">(Com Número e CEP)</p>
    <input type="text" class="form-control" id="questionOne" placeholder="Digite seu endereço completo">
	</div>
</div>

<div class="col-xs-12 form-question-block">	
	<div class="form-group">
		<label class="form-question__title" for="questionOne">Selecione alguns dos problemas abaixo dos quais você possui provas contra a empresa</label>
		<p class="form-question__description">(Pode selecionar mais de uma opção)</p>
    
    <div class="checkbox">
	    <label>
	      <input type="checkbox"> Caso exemplo 1
	    </label>
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Caso exemplo 1
	    </label>
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Caso exemplo 1
	    </label>
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Caso exemplo 1
	    </label>
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Caso exemplo 1
	    </label>
	  </div>
	  

	</div>
</div>

<div class="col-xs-12 form-question-block">	
	<div class="form-group">
		<label class="form-question__title" for="questionOne">Quais são as provas que você tem para entrar com uma ação trabalhista?</label>
		<p class="form-question__description">(Clique no botão abaixo para carregar arquivos)</p>
    <input id="input-id" type="file" class="file file-upload" data-preview-file-type="text">
	</div>
</div>

<div class="col-xs-12 form-question-block">	
	<div class="form-group">
		<label class="form-question__title" for="questionOne">Qual é o nome da empresa onde você trabalhava/trabalha?</label>
    <input type="text" class="form-control" id="questionOne" placeholder="">
	</div>
</div> -->
<div class="col-xs-12">
	<hr>
</div>
<div class="col-xs-12 form-footer-wrapper">
	<p class="text-center">Pronto! Agora é só clicar em enviar e nós entraremos em contato em no máximo 24 horas.</p>
	<p class="text-center">
		<a href="#" class="btn btn-lg btn-primary">Enviar respostas</a>
	</p>
</div>
