
<div class="col-xs-12 form-success-header-wrapper">
	<p class="text-center form-header__icon"><i class="fa fa-check-circle-o"></i></p>
	<h1 class="form-header__title">Formulário enviado com sucesso!</h1>
	<p class="form-header__description">Este formulário projetado para agilizar seu atendimento e melhorar a comunicação das suas necessidades jurídicas.</p>
</div>

<div class="col-xs-12">
	<hr>
</div>

<div class="col-xs-12 form-result-actions-wrapper">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
			<a href="#" class="form-result-actions form-download-pdf">
				<i class="fa fa-cloud-download"></i>
				<span>Baixar <br>respostas em PDF</span>
			</a>		
		</div>
		<div class="col-sm-4">
			<a href="#" class="form-result-actions form-show-answers">
				<i class="fa fa-search"></i>
				<span>Visualizar <br>respostas enviadas</span>
			</a>		
		</div>
	</div>
</div>

<div class="col-xs-12">
	<hr>
</div>

<div class="form-question-answered-wrapper">
	<div class="col-xs-12 text-center">
		<h3>Veja abaixo as respostas que foram enviadas</h3>
	</div>
	<div class="col-xs-12 form-question-block">	
		<div class="form-group">
			<label class="form-question__title" for="questionOne">Qual é seu nome completo?</label>
	    <strong class="form-question__answer">José da Silva Perreira Utko</strong>
		</div>
	</div>

	<div class="col-xs-12 form-question-block">	
		<div class="form-group">
			<label class="form-question__title" for="questionOne">Qual é o seu RG?</label>
	    <strong class="form-question__answer">8.992.875-3</strong>
		</div>
	</div>

	<div class="col-xs-12 form-question-block">	
		<div class="form-group">
			<label class="form-question__title" for="questionOne">Qual é seu CPF?</label>
	    <strong class="form-question__answer">058.901.139-17</strong>
		</div>
	</div>

	<div class="col-xs-12 form-question-block">	
		<div class="form-group">
			<label class="form-question__title" for="questionOne">Qual é seu endereço completo?</label>
			<p class="form-question__description">(Com Número e CEP)</p>
	    <strong class="form-question__answer">Rua Visconde do Rio Branco, 1541, AP 33. CEP: 80420-210</strong>
		</div>
	</div>

	<div class="col-xs-12 form-question-block">	
		<div class="form-group">
			<label class="form-question__title" for="questionOne">Selecione alguns dos problemas abaixo dos quais você possui provas contra a empresa</label>
			<p class="form-question__description">(Pode selecionar mais de uma opção)</p>
	    <strong class="form-question__answer">058.901.139-17</strong>
		</div>
	</div>

	<div class="col-xs-12 form-question-block">	
		<div class="form-group">
			<label class="form-question__title" for="questionOne">Quais são as provas que você tem para entrar com uma ação trabalhista?</label>
			<p class="form-question__description">(Clique no botão abaixo para carregar arquivos)</p>
	    <a href="#" class="btn btn-primary"><i class="fa fa-cloud-download"></i> &nbsp;&nbsp; Baixar documentos anexados</a>
		</div>
	</div>

	<div class="col-xs-12 form-question-block">	
		<div class="form-group">
			<label class="form-question__title" for="questionOne">Qual é o nome da empresa onde você trabalhava/trabalha?</label>
	    <strong class="form-question__answer">HSBC Seguros</strong>
		</div>
	</div>
</div>

<br clear="both">
<br clear="both">
<br clear="both">
<br clear="both">
<br clear="both">
<br clear="both">
<br clear="both">
<br clear="both">
