<div class="container">
  <div class="row">

    <div class="col-xs-12 page-header">
      <div class="row">
        <div class="col-xs-6">
          <h1>Formulários</h1>
        </div>
        <div class="col-xs-6 text-right">
          <%= link_to 'Novo formulário', new_form_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <table class="table table-striped">
        <tbody>
          <% @forms.each do |form| %>
            <tr>
              <td>
                <%= link_to form.name, form %>
                <p>Formulário que qualifica clientes que fizeram primeiro contato com o escritório</p>
              </td>
              <td class="text-right"><%= link_to 'Ver formulário', form, class: 'btn btn-default' %></td>
              <!-- <td><%#= link_to 'Edit', edit_form_path(form) %></td> -->
              <!-- <td><%#= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>