<!DOCTYPE html>
<html>
<head>
  <title>Nice Start</title>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60831895-2', 'auto');
  ga('send', 'pageview');

</script>

<%= yield %>

<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<h4>Redes sociais</h4>
				<ul class="social-networks-wrapper">
					<li><a href="https://www.facebook.com/nicestartapp/" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
					<li><a href="https://angel.co/projects/393953-nice-start" target="_blank"><i class="fa fa-angellist"></i> Angel List</a></li>
				</ul>
			</div>

			<div class="col-xs-12 col-md-4 text-center">
				<a href="/" class="logotype-symbol">Nice Start</a>
			</div>
			<div class="col-xs-12 col-md-4 text-right contact-block-wrapper">

				<a href="http://matilha.digital" title="Um produto feito pelo MATILHA" target="_blank" class="logotype-matilha"></a>
				<!-- <p class="powered-by">Um produto feito pelo MATILHA.</p> -->
				<address class="address-block-wrapper">
				  Rua Schiller, 1797<br>
				  Hugo Lange, Curitiba, Paraná<br>
				  +55 41 3114-2772 <br>
					nicestart@matilha.digital
				</address>

			</div>

		</div>
	</div>
</footer>
</body>
</html>
